body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  background-color: rgb(0, 68, 255);
  padding: 20px;
  display: flex;
  height: 90vh;
  width: 80%;
  flex-direction: row-reverse;
}
.weather-output{
  background-image: url('img/bg.jpg');
}